<div class="send-enquiry-container">
    @if(isSendEnquiryEmailSuccess === '200'){
        <div class="success">
            <img class="image-404" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS9XwQ5bcFXSemEtJxvV8vAcbDXJEz-IpFd9dEjQLds1njwyJH_erfJ2r1onL8L1nSoEBo&usqp=CAU">
            <p class="thankyou">Thank you for contacting us</p>
            <p class="message">We appreciate that you've the time to write to us, We'll get back to you very soon</p>
        </div>
    } 
    @else{
        <div class="failure">
            <img class="image-404" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSp4S8mpzhXXYswYD_CHMC8nJaP9l1paA6qpxgTBRzeR_HTweeWY6DS9Ve8VvHZbfS0gm0&usqp=CAU">
            <p class="thankyou">SENDING FAILED</p>
            <p class="message">An error occurred, Please try again later or contact customer support.</p>
        </div>
    }
    <button [style]="{backgroundColor:buttonColor}" class="send-enquiry-close-btn" mat-flat-button routerLink="/contactus" type="button">CLOSE</button>
</div>