.send-enquiry-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translate(0%,30%);
    right:-50%;
    top:50%;
    .image-404{
        scale: 0.6;
        height: 200px;
        width: 200px;
    }
    .success, .failure{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .thankyou{
            font-size: 3rem;
        }
    }
    .send-enquiry-close-btn{
        color: white;
        cursor: pointer;
        padding: 15px;;
        border-radius: 25px;
        border: 0px;
        letter-spacing: 2px;
        font-family: "Rowdies", sans-serif;
    }
}