<div class="page-not-found-container">
    <img class="image-404" src="https://media.istockphoto.com/id/171302206/photo/error-404.webp?a=1&b=1&s=612x612&w=0&k=20&c=QHyOGQ4W-L177rfiq6mqeQAYxaKaJeWVzjQKD0aRkOg=">
    <p class="pagenotfound">Oops! Page Not Found</p>
    <p class="message">The page you are looking for might have been removed had it's name changed or temporarily unavailable, you can either return to previous page or vist home page.</p>
    <button mat-flat-button routerLink="/home" type="button">HOME PAGE</button>
</div>