<html lang="en"></html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/send-enquiry.css">
    <title>Your Awesome Email</title>
</head>
<body class="mail-body">
    <h1>Hello Frio Cab Services,</h1>
    <p>Please find the enquiry details below.</p>
    <div class="row">
        <div class="col">
            <h3>Name : {{name}}</h3>
            <h3>Email : {{email}}</h3>
            <h3>Contact No : {{contact}}</h3>
            <h3>message : {{message}}</h3>
        </div>
    </div>
</body>
</html>