<div class="signup-form-container">
    <form class="signup-form" [formGroup]="signupForm" (ngSubmit)="onSignup()">
            <div class="signup-title">
                Signup
            </div>
            <mat-form-field color="primary" class="mat-input" appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput placeholder="enter your name" formControlName="name" (input)="onInputChange()">
                @if (signupForm.get('name').invalid) {
                    <mat-error>Name field is required</mat-error>
                }
            </mat-form-field>
            <mat-form-field color="primary" class="mat-input" appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput placeholder="enter your email" formControlName="username" (input)="onInputChange()">
                @if (signupForm.get('username').invalid) {
                    <mat-error>Email field is required</mat-error>
                  }
            </mat-form-field>
            <mat-form-field color="primary" class="mat-input" appearance="outline">
                <mat-label>Mobile</mat-label>
                <input matInput placeholder="enter your mobile number" formControlName="mobile" (input)="onInputChange()">
                @if (signupForm.get('mobile').invalid) {
                    <mat-error>Mobile field is required</mat-error>
                  }
            </mat-form-field>
            <div class="password-container">
                <mat-form-field color="primary" class="mat-input" appearance="outline">
                    <mat-label>Password</mat-label>
                    <input [type]="passwordInputFieldType" matInput placeholder="enter your password" formControlName="password" (input)="onInputChange()"/>
                    @if (signupForm.get('password').invalid) {
                        <mat-error>Password field is required (Min 6 characters)</mat-error>
                    }
                </mat-form-field>
                <mat-icon (click)="onVisibilityClick('password')" aria-hidden="false" aria-label="Example visibility-off icon" fontIcon="{{passwordVisibility}}"></mat-icon>
            </div>
            <div class="password-container">
                <mat-form-field color="primary" class="mat-input" appearance="outline">
                    <mat-label>Re-type Password</mat-label>
                    <input [type]="retypePasswordInputFieldType" matInput placeholder="re-type password" formControlName="retypepassword" (input)="onInputChange()">
                    @if (signupForm.controls['retypepassword'].errors?.passwordMatched) {
                        <mat-error>Passwords do not match.</mat-error>
                    }
                </mat-form-field>
                <mat-icon (click)="onVisibilityClick('retype-password')" aria-hidden="false" aria-label="Example visibility-off icon" fontIcon="{{retypePasswordVisibility}}"></mat-icon>
            </div>
            @if(!authService.isAuthenticated()){
            <mat-error class="error-message">{{appConstants.SIGNUP_MESSAGE()}}</mat-error>
            }
        <button mat-flat-button type="submit" [disabled]="signupForm.invalid">Signup</button>
        <p class="registered">Already Registered ? <span routerLink="/login">login</span> </p>
    </form>
</div>