.signup-form-container{
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(45deg, black, rgb(0 0 0 / 41%)), url('../../../../public/login-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    .signup-form{
     display: flex;
     padding: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
    mat-form-field{
        width: 30%;
       } 
    .password-container{
        position: relative;
        width: 30%;
        mat-icon{
            color: white;
            position: absolute;
            margin: 15px -30px;
            &:hover{
                cursor: pointer;
            }
         }
         mat-form-field{
            width: 100%;
           } 
      }
        .error-message{
            color: red;
            letter-spacing: 1px;
            position: absolute;
            top: 660px;
            padding: 10px;
            background-color: #FFCCCC;
        }
        .signup-title{
            text-align: center;
            color: white;
            font-family: monospace;
            font-size: 2rem;
        }
        mat-label{
            color: white;
        }    
        input::placeholder{
            color: #ffffff75;
            letter-spacing: 2px;
        }  
        input{
            color: white;
        }
        .registered{
            text-align: center;
            color: white;
            span{
                &:hover{
                    cursor: pointer;
                    text-decoration: underline;
                }
            }
        }
        button{
            letter-spacing: 2px;
            &:disabled{
                background-color:#005cbb63;
                color: white;
                letter-spacing: 2px;
            }
        }  
    }
    
}