.contact-us-container{
    width: 100vw;
    height: 100vh;

    .header{
        background-image: linear-gradient(45deg, black, transparent), url('../../../../public/contactus1.jpg');
        background-size: 100%;
        height: 200px;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        top: 100px;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        p{
            color: white;
            font-size: 2rem;
            font-weight: bold;
            letter-spacing: 2px;
        }
    }

    .contactus-cards{
        display: flex;
        justify-content: space-evenly;
        gap: 20px;
        margin: 100px;
        .left-section{
                width: 450px;
                display: flex;
                flex-direction: column;
                gap: 30px;
            header{
                font-size: 1.5rem;
                font-weight: bold;
            }
            p{
                font-family: sans-serif;
            }
            .mat-icon{
                color: orange;
                font-weight: bold;
            }
            .contact-info{
                display: flex;
                align-items: center;
                gap: 10px;
                font-weight: bold;
            }
        }
        .right-section{
            padding: 40px 100px 40px 100px;
            background: #F5F5F5;
            width: 450px;
            margin-bottom: 100px;
            form{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 20px;
                mat-form-field{
                    width: 100%;
                }
                .send-enquiry-title{
                    font-size: 1.2rem;
                    font-weight: bold;
                }
                button{
                    background-color: orange;
                    color: white;
                    cursor: pointer;

                    &:disabled{
                        background-color: #ffa50073
                    }
                }
            }
        }
    }
}