<ul class="header-container"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    <li routerLink="/home" routerLinkActive="active">Home</li>
    <li routerLink="/aboutus" routerLinkActive="active">About us</li>
    <li routerLink="/services" routerLinkActive="active">Services</li>
    <li routerLink="/fares" routerLinkActive="active">Get Fares</li>
    <li routerLink="/contactus" routerLinkActive="active">Contacts</li>
    <li routerLink="/login" routerLinkActive="active" (click)="onLogout()">Logout</li>
</ul>
