<div class="price-calculator-background">
    <h2 class="title">EMBARK YOUR JOURNEY WITH FRIO</h2>
</div>
<div class="price-calculator-container">
    <app-search></app-search>
    <div class="car-fares-card-container">
        @for (car of tripResultIteratingArray; track car) {
        <div class="car-fares-card">
            <p><b>{{car.car_name}}</b> or similar</p>
            <ul>
                <li>{{car.car_type}}</li>
                <li>AC</li>
                <li>{{car.seating_capacity}}</li>
                <li>{{car.distance_included}} kms included</li>
            </ul>
            <div class="inclusion-exclusion-container">
                <ul class="inclusions">
                    <p>Inclusions</p>
                    <li>Base Fare for <b>{{car.distance_included}} kms</b></li>
                    <li><b>Free cancellation</b> within 1 hour of booking</li>
                    <li><b>CNG car</b></li>
                    <li>Driver Allowance</li>
                </ul>
                <ul class="exclusions">
                    <p>Exculsions</p>
                    <li>Pay <b>₹{{car.extra_km_price}}/km</b> after <b>{{car.distance_included}} kms</b></li>
                    <li>Toll and Parking</li>
                    @if(searchData.tripType === 'oneway'){
                    <li>Multiple pickups/drops</li>
                    }
                </ul>
                <ul>
                    <p><b>₹{{car.fare}}</b></p>
                    <button mat-flat-button class="booknow">Book Now</button>
                </ul>
                <ul class="terms-and-conditions">
                    <p>Terms and Conditions</p>
                    <li>Your Trip has a KM limit. If your usage exceeds this limit, you will be charged for the excess KM used.</li>
                    <li>We promote cleaner fuel and thus your cab can be a CNG vehicle. The driver may need to fill CNG once or more during your trip. Please cooperate with the driver.</li>
                    @if(searchData.tripType === 'oneway'){
                    <li>Your trip includes one pick up in Pick-up city and one drop to destination city. It does not include within city travel.</li>
                    }
                    <li>If your Trip has Hill climbs, cab AC may be switched off during such climbs.</li>
                </ul>
            </div>
        </div>
        }@empty{
            <p>No Results Found, Please Modify Your Search</p>
        }
    </div>
</div>