.services-container{
    width: 100vw;
    height: 100vh;

    .header{
        background-image: linear-gradient(45deg, black, transparent), url('../../../../public/services.jpg');
        background-size: 100%;
        height: 200px;
        width: 100%;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-position: bottom;
        p{
            color: white;
            font-size: 2rem;
            font-weight: bold;
            letter-spacing: 2px;
        }
    }
    .services{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 50px;
        .title{
            font-size: 3rem;
            font-weight: bold;
        }
        .tagline{
            margin: 0px 70px 0px 70px;
            padding: 0px 150px 0px 150px;
            text-align: center;
            font-family: ui-monospace;
        }
        .services-card-container{
            display: flex;
            justify-content: center;
            align-content: center;
            gap: 80px;
            flex-wrap: wrap;
            margin-top:100px;
            div > img{
                height: 200px;
                width: 300px;
            }
            div{
               // height: 200px;
                width: 300px;
                display: flex;
                flex-direction: column;
                gap: 10px;
                text-align: center;
                .service-title{
                    font-weight: bold;
                }
                .service-description{
                    font-family: ui-monospace;
                    text-align: justify;
                }
            }
        }
    }
}

