<div class="login-form-container">
        <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onLogin()">
            <div class="login-title">
                Login into Frio Cabs
            </div>
            <mat-form-field color="primary" class="mat-input" appearance="outline">
                <mat-label>User id</mat-label>
                <input matInput placeholder="your email id or mobile" formControlName="username" (input)="onInputChange()">
                @if (loginForm.get('username').invalid) {
                    <mat-error>Email field is required</mat-error>
                  }
            </mat-form-field>
            <mat-form-field color="primary" class="mat-input" appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput placeholder="enter password" formControlName="password" (input)="onInputChange()">
                @if (loginForm.get('password').invalid) {
                    <mat-error>Password field is required</mat-error>
                  }
            </mat-form-field>
            @if (!authService.isAuthenticated()) {
                <mat-error class="error-message">{{appConstants.LOGIN_MESSAGE()}}</mat-error>
            }
            <button mat-flat-button type="submit" [disabled]="loginForm.invalid">Login</button>
            <p class="not-registered">Not Registered ? <span routerLink="/signup">signup</span> </p>
        </form>
</div>