.search-form-container{
    padding: 12px 20px; 
    border: 1px solid #ccc;
    width: 400px;


    input{
        padding: 10px;
        width: 100%;
    }

    button{
        letter-spacing: 2px;
        &:disabled{
            background-color:#005cbb63;
            color: white;
            letter-spacing: 2px;
        }
    } 
}