.search-form-container{
    margin-top: -40px;
    padding: 12px 20px;
    background-color: white;
    border-radius: 25px;
    width: 800px;
    min-height: 200px;
    box-shadow: 0px 0px 20px lightgray;

    .search-form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        mat-form-field{
            width: 50%;
        }
        mat-radio-group > mat-radio-button {
            font-weight: bold;
            color: black;
        }
        .inp-fields{
            display: flex;
            flex-direction: row;
            gap: 40px;
        }
        button{
  
            letter-spacing: 2px;
            &:disabled{
                background-color:#005cbb63;
                color: white;
                letter-spacing: 2px;
            }
        }
    } 
}