<div class="home-container">
    <div class="homepage-image">
        <p class="home-page-title">FRIO</p>
        <p class="home-page-subtitle">CAB SERVICES</p>
        <p class="home-page-tagline">Your Reliable Ride, Anytime, Anywhere</p>
        <button mat-flat-button class="contact" routerLink="/contactus">Contact</button>
        <button mat-flat-button class="contact" routerLink="/fares">Get Fare</button>
    </div>
    <div class="tariff-container">
        <p class="title">OUR TARIFFS</p>
        <div class="tariff-cards-container">
            @for(tariff of tariffs; let i = $index; track tariff){
                <div class="tariffs-card">
                    <img [src]="tariff.img"/>
                    <p class="tariff-title">{{tariff.title}}</p>
                    <p class="tariff-description">{{tariff.description}}</p>
                    <p class="tariff-price">{{tariff.price | currency:'INR'}} / km</p>
                </div>
            }
            @empty{

            }
        </div>
    </div>
</div>